<template>
  <div>
    <textarea v-model="json"></textarea>
    <button @click="clickHandler">Import from JSON</button>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        json: '',
        parsed: '',
      };
    },
    methods: {
      clickHandler() {
        try {
          this.parsed = JSON.parse(this.json);
          this.$emit('import', this.parsed);
        } catch (e) {
          console.error(e);
          alert('Bad JSON');
        }
      },
    }
  }
</script>
