<template>
  <form @submit.prevent="submitHandler">
    <label>Name <input type="text" name="name" :value="initialUser.name" @change="username = $event.target.value"/></label>
    <label>Surname <input type="text" name="surname" :value="initialUser.surname" @change="surname = $event.target.value"/></label>
    <label>Phone <input type="text" name="phone" :value="initialUser.phone" @change="phone = $event.target.value"/></label>
    <label>E-mail <input type="email" name="email" :value="initialUser.email" @change="email = $event.target.value"/></label>
    <button type="submit">{{submitButtonText}}</button>
  </form>
</template>

<script>
  export default {
    props: {
      initialUser: {
        type: Object,
        default() {
          return {};
        },
      },
      submitButtonText: String,
    },
    data() {
      return {
        username: null,
        surname: null,
        phone: null,
        email: null,
      };
    },
    methods: {
      submitHandler() {
        this.$emit('save', {
          name: this.username !== null ? this.username : this.initialUser.name,
          surname: this.surname !== null ? this.surname : this.initialUser.surname,
          phone: this.phone !== null ? this.phone : this.initialUser.phone,
          email: this.email !== null ? this.email : this.initialUser.email,
        });
      }
    }
  }
</script>

<style scoped>
  label {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 6px 0;
  }
</style>
