<template>
  <div>
    <router-link to="/">Back to list</router-link><br>
    <h3>Add new user by form below</h3>
    <user-edit-form :initial-user="user" :submit-button-text="saveButtonText"
                    @save="saveHandler"></user-edit-form>
    <template v-if="isAdd">
      <h3>or import new users from JSON</h3>
      <json-importer @import="importHandler"></json-importer>
    </template>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex';
  import UserEditForm from './UserEditForm';
  import JsonImporter from './JsonImporter';

  export default {
    props: {
      userId: String,
    },
    components: {
      UserEditForm,
      JsonImporter,
    },
    computed: {
      user() {
        return this.importedUser || this.$store.state.users.users.find((user) => '' + user.id === this.userId);
      },
      isAdd() {
        return !this.userId;
      },
      saveButtonText() {
        return this.isAdd
          ? 'Add user'
          : 'Save user';
      }
    },
    data () {
      return {
        importedUser: null,
      };
    },
    methods: {
      ...mapMutations('users', ['addUser', 'updateUser']),
      saveHandler(nextUser) {
        const { userId } = this;

        if(userId) {
          this.updateUser({id: userId, user: nextUser});
        } else {
          this.addUser({user: nextUser});
        }
        this.$router.push('/');
      },
      importHandler(importedUsers) {
        if(importedUsers instanceof Array) {
          importedUsers.forEach((user, index) => {
            if(user instanceof Object && (user.name || user.surname || user.phone || user.email)) {
              this.addUser({ user });
            } else {
              alert(`Bad element [${index}] of input array. It's not object or it isn't have any of users field.`);
            }
          })
        } else {
          alert('Input data must be array');
          return;
        }
        this.$router.push('/');
      }
    }
  }
</script>

