<template>
  <div>
    <button @click="addHandler">Add user</button>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
        <th>E-mail</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="user in users">
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td colspan="2">
          <button @click="editHandler(user.id)">Edit</button>
          <button @click="deleteHandler(user.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import { mapState, mapMutations } from 'vuex';

  export default {
    computed: {
      ...mapState('users', ['users']),
    },
    data () {
      return {
      }
    },
    methods: {
      ...mapMutations('users', ['deleteUser']),
      addHandler() {
        this.$router.push('/create');
      },
      editHandler(id) {
        this.$router.push(`/${id}`);
      },
      deleteHandler(id) {
        this.deleteUser({id});
      }
    }
  }
</script>
